.btn{
    background-color: var(--btn-bg);
    color: var(--text-light);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-decoration: none;

    &:hover, &:focus{
        cursor: pointer;
        background-color: var(--btn-hover);
    }

}